<head>
    <div th:fragment="headconfig" th:remove="tag">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/layout.css">
        <script src="../js/userform.js"></script>
        <link rel="icon" type="imagem/svg+xml" href="../mídia/vetores/logo_scaef.svg"/>
        <title th:include=":: #thlayouttitle">Layout</title>
    </div>
</head>