<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<body class="app" th:fragment="layout (conteudo)">
    <header class="menu">
        <a href = "#" target = "_self">
            <figure class="menulogo">
                <img class="logoscaef" src="../mídia/vetores/logo_scaef.svg" alt="logo do sistema">
                <figcaption>SCAEF</figcaption>
            </figure>
        </a>
        <nav>
            <ul class="menunav">
                <li>
                    <a href = "#" target = "_self">Principal</a>
                </li>
                <li>
                    <a href = "#" target = "_self">Pacientes</a>
                </li>
                <li>
                    <a href = "#" target = "_self">Medicamentos</a>
                </li>
                <li><a href = "#" target = "_self">Estoque</a>
                </li>
                <li><a href = "#" target = "_self">Usuários</a>
                </li>
            </ul>
    </header>

    <aside class="barra">
        <section class="perfilacesso">
            <p class="headerperfil">Seu último acesso: 11/11/1111</p>
        </section>
        
        <section class="perfildados">
            <img class="fotouser" src="../mídia/vetores/icone_usuario.svg" alt="Logo do perfil do Usuário">
            <section class = "dadosuser">
                <p>Nome: Mayra Rodrigues Carvalho</p>
                <p>Função: Farmacêutica</p>
                <p>CRF: 021548</p>
            </section>
        </section>

        <footer class="perfilfooter">
            <p>Ministério da Saúde do Brasil</p>
            <img class = "imgsus" src="../mídia/imagens/logo_sus.png" alt="Logo  do Sistema Único de Saúde (SUS)">
        </footer>
    </aside>
    
    <main class="conteudo" th:include="${conteudo}"></main>

    <footer class="rodape">
        <p>Sistema Cadastral para a Assistência Especializada em Farmácia</p>
    </footer>
</body>
</html>