<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SCAEF - Page Not Found</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="imagem/svg+xml" href="/mídia/vetores/logo_scaef.svg"/>
    </head>

    <body>
        <h3>404 Not Found</h3>
        <p>Página não encontrada :(</p>
        <h1 th:text="${errorCode}">404</h1>
        <p th:utext="${errorMessage}">Error Java.lang.NullPointerException</p>
        <a href="#" th:href="@{/home}">Deseja retornar à tela principal?</a>
    </body>
</html>