@charset "UTF-8";

.conteudo{
  margin-top: 70px;
}

.formularioborda{
  margin: 0px 2px;
  padding: 5px 12px;
  border-radius: 6px;
  border-style: revert;
  border-width: 2px;
}

.cadicon{
  display: flex;
  align-content: center;
  align-items: center;
  width: 213px;
  margin-top: -27px;
  margin-left: 41px;
  margin-bottom: 20px;
  background-color: var(--cor-fundo-conteudo);
  box-shadow: 0 0 0 15px var(--cor-fundo-conteudo);
}

.cadicon > legend {
  width: 150px;
  height: 20px;
  margin-bottom: 7px;
  color: var(--cor-fonte-claro);
  font-size: 1.1rem;
}

.cadiconimg{
  border: 4px solid #fefae5e3;
  border-radius: 25%;
  margin-right: 10px;
  padding: 4px;
}

.campoform{
  margin: 10px;
}

.campoform > label {
  color: var(--cor-fonte-claro);
  font-size: 1.1rem;
}

.campoform > label:nth-child(1) > input{
}

.campoform > label:nth-child(2) > input{
}

.campoform > label:nth-child(3) > input{
}

.campoform > label:nth-child(4) > input{
}

.campoform > label:nth-child(5) > input{
}

.campoform > label:nth-child(6) > input{
  margin-bottom: 20px;
}

.campoform > label:nth-child(7) > input{
}

.campoform > label:nth-child(8) > input{
}

.campoform > label:nth-child(9) > input{
}

.campoform > label:nth-child(10) > input{
}

.campoform > label:nth-child(11) > input{
}

.campoform > label:nth-child(12) > input{
  margin-bottom: 20px;
}

.campoform > label:nth-child(13) > input{
}

.campoform > label:nth-child(14) > input{
}

.campoform > label:nth-child(15) > input{
  margin-bottom: 20px;
}
