@charset "UTF-8";

.formularioborda{
  margin: 0px 2px;
  padding: 5px 12px;
  border-radius: 6px;
  border-style: double;
  border-width: 3px;
  color: var(--cor-fonte-claro);
}

.campoform{
  margin: 10px;
  display: grid;
  grid-template-areas:
    "dados"
    "endereco"
    "contato";
}

.form-control{
  padding: 0px;
}

.campoform > section {
  margin-left: 30px;
}

.campoform > section > label,
.campoform > section > div > label {
  color: var(--cor-fonte-claro);
  font-size: 1.3rem;
  display: inline-flex;
  margin-bottom: 30px;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.campoform > section > label > input{
  font-size: 1.13rem;
  padding-left: 6px;
  margin-left: 7px;
  margin-right: 10px;
  width: 205px;
}

.campoform #dados {
  grid-area: dados;
  margin-top: 20px;
}

#btn1{
  margin-left: 40px;
  margin-right: 10px;
}

.campoform > #dados > #lcns {
  margin-left: 5px;
  margin-right: 20px;
}

.campoform > #dados > label > #cns{
  width: 170px;
}

.campoform > #dados > label > #cpf{
  width: 130px;
}

.campoform > #dados > #lrg {
  margin-left: 68px;
}

.campoform > #dados > label > #rg{
  width: 115px;
}

.campoform > #dados > label > #nome{
  width: 205px;
}

.campoform > #dados > label > #nomeM{
  width: 205px;
}

.campoform > #dados > label > #nomeS{
  width: 205px;
}

.campoform > #dados > #radioselector{
  width: 160px;
  display: grid;
  grid-template-areas:
    "texto opcao1 textoid op1"
    "texto opcao2 textoid op2";
  grid-template-columns: 70px 170px 145px 140px;
  grid-template-rows: 50px 50px;
}

.campoform > #dados > #radioselector > #texto{
  grid-area: texto;
}

.campoform > #dados > #radioselector > #texto > #opcao1{
  grid-area: opcao1;
}

.campoform > #dados > #radioselector > #texto > #opcao2{
  grid-area: opcao2;
}

.campoform > #dados > #radioselector > #textoid{
  grid-area: textoid;
}

.campoform > #dados > #radioselector > #textoid > #op1{
  grid-area: op1;
}

.campoform > #dados > #radioselector > #textoid > #op2{
  grid-area: op2;
}

.campoform > #dados > #campo-erro1 {
  margin-left: 5px;
  display: grid;
  align-items: center;
  grid-template-areas: "erroscns erroscpf errosrg";
  grid-template-columns: 250px 255px 225px;
}

.campoform > #dados > #campo-erro1 > #erroscns{
  grid-area: erroscns;
}

.campoform > #dados > #campo-erro1 > #erroscpf{
  grid-area: erroscpf;
}

.campoform > #dados > #campo-erro1 > #errosrg{
  grid-area: errosrg;
}

.campoform #endereco {
  grid-area: endereco;
}

.campoform > #endereco > label > #num{
  width: 40px;
}

.campoform > #endereco > #lcep{
  margin-right: 15px;
}

.campoform > #endereco > #lbai{
  margin-left: 15px;
}

.campoform > #endereco > #campo-erro5 {
  display: grid;
  align-items: center;
  grid-template-areas: "erroscep erroscida errosbai";
  grid-template-columns: 278px 301px;
}

.campoform > #endereco > #campo-erro5 > #erroscep{
  grid-area: erroscep;
}

.campoform > #endereco > #campo-erro5 > #erroscida{
  grid-area: erroscida;
}

.campoform > #endereco > #campo-erro5 > #errosbai{
  grid-area: errosbai;
}

.campoform #contato {
  grid-area: contato;
}