@charset "UTF-8";

.formulariobox{
  margin: 0px 2px;
  padding: 5px 12px;
  border-radius: 6px;
  border-style: double;
  border-width: 3px;
  color: var(--cor-fonte-claro);
}

.form-control{
  padding: 0px;
}

.formulario >  label {
  font-size: 1.3rem;
  margin-left: 50px;
  margin-bottom: 20px;
}

.formulario >  label > input{
  padding-left: 6px;
  width: 205px;

}

.cadicon{
  width: 290px;
}

.cadicon > legend{
  width: 220px;
}

