@charset "UTF-8";

label {
  color: var(--cor-fonte-claro);
}

#inputinside{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#inputinside > img {
  width: 18px;
  padding-right: 6px;
  position: absolute;
  cursor: pointer;
}

.form-control{
  padding: 0px;
}

#formularioborda{
  margin: 0px 2px;
  padding: 5px 12px;
  border-radius: 6px;
  border-style: double;
  border-width: 3px;
  color: var(--cor-fonte-claro);
}

#formulario{
  margin: 10px;
}

#formularioborda > #formulario {
  color: var(--cor-fonte-claro);
  font-size: 1.3rem;
  margin-bottom: 10px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#formularioborda > #formulario > label > input{
  font-size: 1.13rem;
  padding-left: 6px;
  width: 205px;
}

.dados-fila1{
  margin-right: 20px;
  margin-bottom: 20px;
}

.dados-fila1:nth-child(1){
  margin-right: 0;
}

.dados-fila2{
  margin-right: 26px;
  margin-bottom: 20px;
}

.dados-fila3{
  margin-right: 26px;
}
