@charset "UTF-8";

:root{
    --cor-fonte-claro: #fEfAE5;
    --cor-fonte-escuro: #112E42;
    --cor-fundo-conteudo: #253235;
    --cor-barra-1: #3E606F;
    --cor-barra-2: #849A94;
    --cor-barra-3: #D1DBBE;
    --cor-borda: #0D3B4096;
    --cor-barra-contraste: #1A1A50CC;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #00000000 #112e42cc;
}
  
/*Chrome, Edge, and Safari*/
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px #00000000;
}
  
::-webkit-scrollbar-thumb {
    background-color: #3d4c4ecc;
    border-radius: 5px;
}

.app{
    height: 100%;
    margin: 0px;
    background-color: var(--cor-fundo-conteudo);
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-areas: 
        "barra menu"
        "barra conteudo"
        "barra rodape";
    grid-template-columns: 295px auto;
    grid-template-rows: 10% 82% 8%;
}

.menu{
    grid-area: menu;
    grid-column: 2;
    display: flex;
    justify-content: space-between;
}

.barra{
    display: grid;
    width: 295px;
    position: fixed;
    grid-area: barra;
    grid-column: 1;
    background-image: linear-gradient(154deg, var(--cor-barra-1), 56%, var(--cor-barra-2), var(--cor-barra-3));   
    height: 100vh;
    grid-template-areas: 
    "perfilacesso"
    "perfildados"
    "perfilfooter";
    grid-template-rows: 70px auto 120px;
}

.conteudo{
    grid-area: conteudo;
    grid-column: 2;
    margin: 40px 40px 25px;
}

.rodape{
    grid-area: rodape;
    grid-column: 2;
}

/*menu*/

.menu{
    margin-right: 40px;
    margin-left: 40px;
    border-bottom: 1px solid var(--cor-fonte-claro);
}

.menu, li > a, .menulogo > figcaption{
    color: var(--cor-fonte-claro);
    font-size: 1.15rem;
    text-decoration: none;
}

.menulogo{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 18.4px 0 0 0;
}

.logoscaef{
    margin-right: 10px;
    height: 35px;
    padding-left: 15px;
}

nav, .menunav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.menunav{
    margin-top: 25px;
}

.menunav > li{
    list-style-type: none;
    margin-right: 13px;
}

.menunav li:nth-child(5){
    margin-right: 0;
}

/*barra lateral*/
.perfilacesso{
    justify-self: center;
    grid-area: perfilacesso;
    margin-top: 10px;
    color: var(--cor-fonte-claro);
}

.fotouser{ /* Tamanho da logo do usuario */
    width: 150px;
    height: 140px;
    background-color: var(--cor-barra-contraste);
    border-radius: 50%;
    grid-area: perfildados;
    margin: auto 60px;
}

.perfildados{
    grid-area: perfildados;
    margin-top: 10px;
    color: var(--cor-fonte-claro);
    font-family: Times
}

.dadosuser {
    margin: 28px;
    width: 200px;
    border-top: 1.9px solid var(--cor-borda);
    border-bottom: 1.9px solid var(--cor-borda);
    padding-left: 10px;
}

.dadosuser > p{
    margin: 9px;
    font-size: 1rem;
}

.perfilfooter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfilfooter > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    color: var(--cor-fonte-escura);
    width: 120px;
    text-align: center;
    margin-right: 5px;
}

.perfilfooter .imgsus{
    width: 117px;
    height: 55px;
    padding-left: 8px;
    border-left: 1.9px solid var(--cor-borda);
}

/*rodapé*/

.rodape > p{
    color: var(--cor-fonte-claro);
    font-size: 1rem;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 0px;
}