@charset "UTF-8";

.tabela{
    display: grid;
    grid-template-columns: 5fr 2fr 5fr 4fr 5fr 9fr;

    border-bottom: 1.2px solid var(--cor-fonte-claro);
    padding-bottom: 12px;
    margin-top:20px;
    
    
}


.lista{
    display: grid;
    grid-template-columns: 9fr 3.7fr 8.9fr 7.3fr 9fr 7fr 1fr 1fr
    ; 
    align-items: center;
    border-bottom: 1.2px solid var(--cor-fonte-claro);
    padding-bottom: 10px;
    padding-top: 10px;
}

.btn-primary{
    margin-left: 10px;
    margin-right: 8px;
}