<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org/%22%3E" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Alterar Medicamento</title>

</head>
<body>

    <form class="formulario" action="#" th:action="@{/salvarMedicamento}" method = "post">
        <input type="hidden" th:name="id" th:value="${medicamento.id}">
        <input type="text" th:name="nome" th:value="${medicamento.nome}">
        <input type="text" th:name="cid" th:value="${medicamento.cid}">
        <input type="text" th:name="catReg" th:value="${medicamento.catReg}">
        <input type="text" th:name="pcdt" th:value="${medicamento.pcdt}">
        <input type="text" th:name="dose" th:value="${medicamento.dose}">
        <input type="text" th:name="forma" th:value="${medicamento.forma}">
        <input type="text" th:name="via" th:value="${medicamento.via}">
        <input type="text" th:name="priA" th:value="${medicamento.priA}">
        <input type="text" th:name="classeT" th:value="${medicamento.classeT}">

        <button type="submit">Alterar</button>
    </form>
</main>
</body>
</html>
