<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{:: main})}">
    
<head>
    <title id="thlayouttitle">Cadastro de Usuário</title> 
</head>

<body>
        <main>
            <form class="formulario" th:object = "${usuario}" action="#" th:action="@{/salvarUsuario}" method="post">       

                <div class ="mensagem" role = "alert" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                    <label class="validation-message" th:errors="*{nome}"></label>
                </div>         
                <div >
                    <label for="nome">Nome</label>
                    <input  name="nome" type="text"  th:field="*{nome}">
                </div>

                <div class="mensagem" role ="alert" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">
                    <label class = "validation-message" th:errors="*{cpf}"></label>
                </div>  
            
                <div>
                    <label for="cpf">CPF</label> 
                    <input  name="cpf" type="cpf" th:field="*{cpf}">
                </div>

                <div class="mensagem" role ="alert" th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}">
                    <label class = "validation-message" th:errors="*{rg}"></label>
                </div>  

                <div>
                    <label for="rg">RG</label>
                    <input name="rg" type="text"  th:field="*{rg}">
                </div>

                <div class="mensagem" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                    <label class="validation-message" th:errors="*{email}"></label>
                </div>  

                <div>
                    <label for="email">Email</label>
                <input name="email" type="email" th:field="*{email}">
                </div>

                <div>
                    <label for="celular">Celular</label>
                    <input name="celular" type="number" th:field="*{celular}">
                </div>

                <div>
                    <label for="fone">Fone</label>
                    <input name="fone" type="number"  th:field="*{fone}">
                </div>

                <div>
                    <label>Função</label>
                    <select name="funcao" th:field="*{funcao}" id="fucaoselecionada">
                        <option selected value="">Selecione uma função</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Atendente">Atendente</option>
                        <option value="Farmacêutico">Farmacêutico</option>
                    </select>
                </div>

                <div>
                    <label for="crf">CRF</label>
                    <input name="crf" type="number" th:field="*{crf}" class="crf">
                </div>

                <div class="mensagem" role = "alert" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">
                    <label class = "validation-message" th:errors="*{senha}"></label>
                </div>  

                <div>
                    <label for="senha">Senha</label>
                    <input name="senha" type="password"  th:field="*{senha}">
                </div>

                <div class="buttonUsuario">
                    <button type="submit"> Cadastrar usuário</button>
                </div>
            </form>
        </main>
    </body>
</html>