<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    
    <head>
        <div th:replace="fragments/headlayout :: headconfig">
            <title id="thlayouttitle">Cadastro de Usuário</title>
        </div>
        <link rel="stylesheet" href="../css/cadastrousuario.css">
    </head>

    <body th:replace="~{fragments/layout :: layout (~{:: main})}">
        <main>
            <div th:if="${message}" class="alert alert-success text-center" >
                [[${message}]]
            </div>

            <fieldset id="formularioborda">
                <form id="formulario" th:object = "${usuario}" action="#" th:action="@{/salvarUsuario}" method="post">

                    <div class ="mensagem" role = "alert" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                        <label class="validation-message" th:errors="*{nome}"></label>
                    </div>

                    <label for="nome" class="dados-fila1">Nome
                        <input name="nome" type="text" th:field="*{nome}" class="form-control entrada">
                    </label>
                        

                    <div class="mensagem" role ="alert" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">
                        <label class = "validation-message" th:errors="*{cpf}"></label>
                    </div>

                    <label for="cpf" class="dados-fila1">CPF
                        <input  name="cpf" type="cpf" th:field="*{cpf}" class="form-control entrada" autocomplete="off" id = "cpf" onkeyup="mascaraCpf('___.___.___-__', this)" maxlength="15">
                    </label>

                    <div class="mensagem" role ="alert" th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}">
                        <label class = "validation-message" th:errors="*{rg}"></label>
                    </div>

                    <label for="rg" class="dados-fila1">RG
                        <input name="rg" type="text"  th:field="*{rg}" class="form-control entrada" autocomplete="off" id = "rg" onkeyup="mascaraRg('__.___.___-_', this)" >
                    </label>

                    <div class="mensagem" role="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        <label class="validation-message" th:errors="*{email}" ></label>
                    </div>

                    <label for="email" class="dados-fila1">Email
                        <input name="email" type="email" th:field="*{email}" class="form-control entrada">
                    </label>
                    
                    <br>

                    <label for="celular" class="dados-fila2">Celular
                        <input name="celular" type="text" th:field="*{celular}" class="form-control entrada" autocomplete="off" id = "celular" onkeyup="mascaraCel('(__)_____-____', this)">
                    </label>

                    <label for="fone" class="dados-fila2">Telefone
                        <input name="fone" type="text"  th:field="*{fone}" class="form-control entrada" autocomplete="off" id = "fone" onkeyup="mascaraFone('(__)____-____', this)">
                    </label>

                    <div class="mensagem" role = "alert" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">
                        <label class = "validation-message" th:errors="*{senha}" ></label>
                    </div>

                    <label for="senha" class="dados-fila2">Senha
                        <div id="inputinside">
                            <input name="senha" type="password"  th:field="*{senha}" id="senha" class="form-control entrada">
                            <img src="../mídia/vetores/eye-off.svg" id="icon" onmousedown="verSenha()" onmouseup="esconderSenha()">
                            <!--COLOCAR DESCRIÇÃO DE IMAGEM PELA ACESSIBILIDADE-->
                            <!--Made by @colebemis-->
                        </div>
                    </label>

                    <br>

                    <div class="mensagem" role = "alert" th:if="${#fields.hasErrors('funcao')}" th:errors="*{funcao}">
                        <label class = "validation-message" th:errors="*{funcao}" ></label>
                    </div>

                    <label class="dados-fila3">Função <br>
                        <select name="funcao" th:field="*{funcao}" id="fucaoselecionada" class="entrada" style="outline: none;">
                            <option selected value="">Selecione uma função</option>
                            <option value="Administrador">Administrador</option>
                            <option value="Atendente">Atendente</option>
                            <option value="Farmacêutico">Farmacêutico</option>
                        </select>
                    </label>

                    <label for="crf" class="dados-fila3">CRF
                        <input name="crf" type="text" th:field="*{crf}"  class="form-control entrada" onkeypress="return onlynumber()">
                    </label>

                    <br>

                    <button type="submit" class="btn-layout btn btn-primary" style="margin-top: 20px; margin-bottom: 5px;">Cadastrar usuário</button>

                    <button type="button" class="btn-layout btn btn-primary" style="margin-top: 20px; margin-bottom: 5px;">
                        <a href="/usuario/listagem">Ir para a listagem</a>
                    </button>
                </form>
            </fieldset>
        </main>
    </body>
    <script>

        var entrada = document.getElementById("senha");
        var icone = document.getElementById("icon")

        function verSenha(){

            if(entrada.type == "password"){
                entrada.type = "text";
                icone.src="../mídia/vetores/eye.svg";
            }
        }

        function esconderSenha(){
            if(entrada.type == "text"){
                entrada.type = "password";
                icone.src="../mídia/vetores/eye-off.svg";
            }
        }
        
        /*var opcao = document.getElementById("funcaoselecionada").value;
        var crf = document.getElementById('crf');

        function hideCrf(farm){
            if(opcao === "Farmaceutico"){
                crf.style.display = 'inline-block';
            } else {
                crf.style.display = 'none';
            }
        }*/
    </script>
</html>