<!DOCTYPE html>
<html lang="pt-br" th:replace="~{fragments/layout :: layout (~{:: main})}">

<head>
	<title id="thlayouttitle">Cadastro de Paciente</title> 
</head>

<body>
    <main>
        <form class="formulario" th:object="${paciente}" action="#" th:action="@{/salvarPaciente}" method="post">
            <div>
                <label for="nome">Nome completo</label>
                <input name="nome" type="text" th:field="*{nome}">
            </div>
        
            <div>
                <label for="nomeM">Nome da Mãe</label>
                <input name="nomeM" type="text" th:field="*{nomeM}">
            </div>

            <div>
                <label for="cns">CNS - Número do Cartão do Sus</label>
                <input name="cns" type="text" th:field="*{cns}">
            </div>
            
            <div>
                <label for="cpf">CPF</label>
                <input name="cpf" type="text" th:field="*{cpf}">
            </div>

            <div>
                <label for="rg">RG</label>
                <input name="rg" type="text" th:field="*{rg}">
            </div>
        
            <div>
                <label for="dataNasc">Data de nascimento</label>
                <input name="dataNasc" type="date" th:field="*{dataNasc}">
            </div>

            <div>
                <label for="cep">CEP</label>
                <input name="cep" type="text" th:field="*{cep}">
            </div>
            
            <div>
                <label for="cida">Cidade</label>
                <input name="cida" type="text" th:field="*{cida}">
            </div>

            <div>
                <label for="bai">Bairro</label>
                <input name="bai" type="text" th:field="*{bai}">
            </div>

            <div>
                <label for="endr">Endereço</label>
                <input name="endr" type="text" th:field="*{endr}">
            </div>

            <div>
                <label for="comp">Complemento</label>
                <input name="comp" type="text" th:field="*{comp}">
            </div>

            <div>
                <label for="num">Número de residência</label>
                <input name="num" type="number" th:field="*{num}">
            </div>

            <div>
                <label for="celular">Celular</label>
                <input name="celular" type="text" th:field="*{celular}">
            </div>
        
            <div>
                <label for="fone">Telefone residencial</label>
                <input name="fone" type="text" th:field="*{fone}">
            </div>
            
            <div>
                <label for="email">Email</label>
                <span th:if="${#fields.hasErrors('email')}" th:errors= "*{email}" class= "text-danger"></span> 
                <input name="email" type="email" th:field="*{email}">
            </div>

            <div>
                <button type="submit"> Cadastrar paciente</button>
            </div>
        </form>
    </main>
</body>

</html>