<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="fragments/headlayout :: headconfig">
            <title id="thlayouttitle">Lista de Pacientes</title>
        </div>
        <!--<link rel="stylesheet" href="../css/">-->
    </head>

	<body th:replace="~{fragments/layout :: layout (~{:: main})}">>
		<main>
			<div th:if="${message}" class="alert alert-success text-center" >
			[[${message}]]
			<div>
				<h1>Usuários</h1>
				<table >
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
								<th>celular</th>
							<th>fone</th>
								<th>Função</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each = "usuario : ${listaUsuario}">
							<td th:text="${usuario.nome}"></td>
							<td th:text="${usuario.email}"></td>
								<td th:text="${usuario.celular}"></td>
								<td th:text="${usuario.fone}"></td>
								<td th:text="${usuario.funcao}"></td>
							<td>
								<a th:href="@{alterar/{id}(id=${usuario.id})}" class="btn btn-primary">Alterar</a>
								<a th:href="@{excluir/{id}(id=${usuario.id})}" class="btn btn-danger">Excluir</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</body>
</html>
