<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="fragments/headlayout :: headconfig">
            <title id="thlayouttitle">Lista de Medicamentos</title>
        </div>
        <link type="text/css" rel="stylesheet" href="/css/listagemMedicamento.css">
    </head>

    <body th:replace="~{fragments/layout :: layout (~{:: main})}">
        <main>
            <div th:if="${message}" class="alert alert-success text-center" style="margin-bottom: 20px;">
                [[${message}]]
            </div>

            <div>
                <h1>Lista de medicamentos</h1>
                <table>
                    <thead>
                        <tr class="tabela">
                            <th>Nome</th>
                            <th>Dose</th>
                            <th>CID</th>
                            <th>Forma</th>
                            <th>Classe</th>
                            <th>PCDT</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="lista" id="titulo-listagem" th:each = "medicamento : ${listaMedicamento}">
                            <td th:text="${medicamento.nome}"></td>
                            <td th:text="${medicamento.dose}" style="margin-right: 
                            8px;"></td>
                            <td th:text="${medicamento.cid}"></td>
                            <td th:text="${medicamento.forma}" style="padding: 8px;"></td>
                            <td th:text="${medicamento.classeT}"></td>
                            <td th:text="${medicamento.pcdt}"></td>

                            
                            <td>
                                <a th:href="@{alterar/{id}(id=${medicamento.id})}"  class="btn btn-primary">Alterar</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" th:onclick="'javascript:abrirModal(\'' + ${medicamento.id} +'\');'">Excluir</a>
                            </td>		
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn-layout btn btn-primary" style="margin-left: 0px;margin-top: 21px;">
                    <a href="/medicamento/cadastro">Incluir novo medicamento</a>
                </button>
            </div>

            <div id="medicamentoModalHolder">
				<th:block th:replace="modalMedicamento :: dadosMedicamento"></th:block>
			</div>
        </main>
    </body>

    <script>
		function abrirModal(id){
			var url1= "http://localhost:8080/medicamento/" + id;
			var medicamentodel = "excluir/" + id;

			function viewModal(){
				$("#medicamentoModalHolder #medicamentoModal").modal('show');
				$("#medicamentoModalHolder #medicamentoModal #medicamentoExcluir").attr("href", medicamentodel);
				$("#medicamentoModalHolder #medicamentoModal #medicamentoNome").load(url1);
			}

			$.ajax({
				url: url1,
				dataType: "application/json",
				cache: false,
				sucess: viewModal(),
				error: console.log('erro')
				});
		}
	</script>

</html>