<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="fragments/headlayout :: headconfig">
            <title id="thlayouttitle">Lista de Medicamentos</title>
        </div>
        <!--<link rel="stylesheet" href="../css/">-->
    </head>

    <body th:replace="~{fragments/layout :: layout (~{:: main})}">
        <main>
            <div>
                <h1>Medicamentos</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Classificação do medicamento</th>
                            <th>Categoria regulatória</th>
                            <th>Protocolos Clínicos e Diretrizes de Tratamento</th>
                            <th>Dosagem</th>
                            <th>Forma farmacêutica</th>
                            <th>Via de consumo</th>
                            <th>Princípio ativo</th>
                            <th>Classe terapêutica</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each = "medicamento : ${listaMedicamento}">
                            <td th:text="${medicamento.nome}"></td>
                            <td th:text="${medicamento.cid}"></td>
                            <td th:text="${medicamento.catReg}"></td>
                            <td th:text="${medicamento.pcdt}"></td>
                            <td th:text="${medicamento.dose}"></td>
                            <td th:text="${medicamento.forma}"></td>
                            <td th:text="${medicamento.via}"></td>
                            <td th:text="${medicamento.priA}"></td>
                            <td th:text="${medicamento.classeT}"></td>
                            <td>
                                <a th:href="@{alterar/{id}(id=${medicamento.id})}" class="btn btn-primary">Alterar</a>
                                <a th:href="@{excluir/{id}(id=${medicamento.id})}" class="btn btn-danger">Excluir</a>		
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>