<!DOCTYPE html>
<html  lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="fragments/headlayout :: headconfig">
            <title id="thlayouttitle">Lista de Pacientes</title>
        </div>
        <!--<link rel="stylesheet" href="../css/">-->
    </head>

	<body th:replace="~{fragments/layout :: layout (~{:: main})}">
		<main>
			<div >
				<h1>Pacientes</h1>
				<table >
					<thead>
						<tr>
							<th>Nome</th>
							<th>CNS</th>
								<th>CPF</th>
							<th>RG</th>
								<th>Nome da Mãe</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each = "paciente : ${listaPaciente}">
							<td th:text="${paciente.nome}"></td>
							<td th:text="${paciente.cns}"></td>
								<td th:text="${paciente.cpf}"></td>
								<td th:text="${paciente.rg}"></td>
								<td th:text="${paciente.nomeM}"></td>
							<td>
								<a th:href="@{alterar/{id}(id=${paciente.id})}" class="btn btn-primary">Alterar</a>
								<a th:href="@{excluir/{id}(id=${paciente.id})}" class="btn btn-danger">Excluirr</a>
							</td>
						</tr>
					</tbody>
				</table>
				<a href="/paciente/cadastro">Incluir novo paciente</a>
			</div>
		</main>
	</body>
</html>
