<!DOCTYPE html>
<html  lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <div th:replace="fragments/headlayout :: headconfig">
            <title id="thlayouttitle">Lista de Pacientes</title>
        </div>
        <link rel="stylesheet" href="../css/listagemPaciente.css">
    </head>

	<body th:replace="~{fragments/layout :: layout (~{:: main})}">
		<main>
			<div >
				<h1>Lista de pacientes</h1>
				<table >
					<thead>
						<tr class="tabela" id="titulo-listagem">
							<th>Nome</th>
							<th>CNS</th>
							<th>CPF</th>
							<th>Nome da Mãe</th>
							<th>Data de Nascimento</th>
							<th>Sexo</th>
						</tr>
					</thead>
					<tbody>
						<tr class="lista" id="titulo-listagem" th:each = "paciente : ${listaPaciente}">
							<td th:text="${paciente.nome}"></td>
							<td th:text="${paciente.cns}"></td>
							<td th:text="${paciente.cpf}"></td>
							<td th:text="${paciente.nomeM}"></td>
							<td th:text="${paciente.dataNasc}"></td>
							<td th:text="${paciente.sexo}"></td>

			
							<td>
								<a th:href="@{alterar/{id}(id=${paciente.id})}" class="btn btn-primary">Alterar</a>
							</td>

							<td>
								<a th:href="@{excluir/{id}(id=${paciente.id})}" class="btn btn-danger">Excluir</a>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn-layout btn btn-primary" style="margin-left: 0px;
				margin-top: 21px;">
					<a href="/paciente/cadastro">Incluir novo paciente</a>
				</button>
			</div>
		</main>
	</body>
</html>
