<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:fragment="dadosMedicamento">
    <div class="modal fade"  tabindex="-1" role="dialog" id="medicamentoModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-sm">
                <div class="modal-header">
                    <h5 class="modal-title">Deseja excluir este usuário?</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal">
                    </button>
                </div>

                <div class="modal-body">
                    <span id="medicamentoNome"></span>
                </div>

                <div class="modal-footer">
                        <a class="btn btn-danger" id="medicamentoExcluir" style="text-decoration: none;">
                            Excluir
                        </a>

                    <button type="button" class="btn btn-primary" data-dismiss="modal" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</th:block>